<main class="page">
    <div class="page__container _container">
        <aside class="page__side">
            <spMenuPage></spMenuPage>
            <spFilter></spFilter>
        </aside>
        <div class="page__content">
            <div class="page__search search-page">
                <div class="search-page__select">
                    <div class="search-page__title"><span>Везде</span><span data-text="Выбрано:" class="search-page__quantity"></span></div>
                    <div class="search-page__categories categories-search">
                        <div class="categories-search__row">
                            <div class="categories-search__column">
                                <ul class="categories-search__list">
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Беговые дорожки</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Эллиптические тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Велотренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Гребные тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Вибромассажеры</span></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="categories-search__column">
                                <ul class="categories-search__list">
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Беговые дорожки</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Эллиптические тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Велотренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Гребные тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Вибромассажеры</span></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="categories-search__column">
                                <ul class="categories-search__list">
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Беговые дорожки</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Эллиптические тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Велотренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Гребные тренажеры</span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="categories-search__checkbox checkbox">
                                            <input data-error="Ошибка" [hidden]="true" type="checkbox" value="1" name="form[]">
                                            <span class="checkbox__text"><span>Вибромассажеры</span></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-page__input">
                    <input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="" class="input">
                </div>
                <span class="search-page__btn btn">Найти</span>
            </div>
            <nav class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li>
                        <a href="" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li>
                        <span class="breadcrumbs__item">Каталог товара</span>
                    </li>
                </ul>
            </nav>
            <div class="catalog">
                <h1 class="catalog__title">{{category?.name}}</h1>
                <!--<spOrderBy></spOrderBy>-->
                <spPageSettings *ngIf="filter?.categoryId != null"></spPageSettings>
                <spCatalogProducts></spCatalogProducts>
                <spPageSettings *ngIf="filter?.categoryId != null"></spPageSettings>
            </div>
        </div>
    </div>
</main>